1 задание

In [9]:
import pickle

class My_class():
    def my_name():
        return print('Tonya and Nikita')

with open('MyClassInFile.pickle', 'wb') as f:
    pickle.dump(My_class, f)
    
with open('MyClassInFile.pickle', 'rb') as f:
    data_new = pickle.load(f)

print(data_new)

<class '__main__.My_class'>

2 задание С помощью shelve создайте файл "MyFavoriteMovies", и запишите в него названия своих любимых фильмов. В качестве ключей используйте имена режисеров

In [11]:
import shelve

with shelve.open('OurFavoriteMovies') as f:
    f['David Yates'] = 'Garry Potter'
    f['Karen Shakhnazarov'] = 'Сourier'

<shelve.DbfilenameShelf object at 0x00000207D1F52EE0>

3 задание

In [24]:
import sqlite3

conn = sqlite3.connect("new_tabl.db")
cursor = conn.cursor()

cursor.execute("CREATE TABLE albums (name, salary, age)")
tabl = [("John Doe", 5000, 35),("Marie Paige", 6000, 25),("Megan Flores", 3000, 29),("Harmony Simmons", 4000, 42)]
cursor.executemany("INSERT INTO albums VALUES (?,?,?)", tabl)
conn.commit()

rows = list(cursor.execute("SELECT rowid, * FROM albums ORDER BY name"))
rows

[(4, 'Harmony Simmons', 4000, 42),
 (1, 'John Doe', 5000, 35),
 (2, 'Marie Paige', 6000, 25),
 (3, 'Megan Flores', 3000, 29)]